/* modified styles for Backdrop */

/* Do not display on the 'site is in maintenance page */
.maintenance-page #tarteaucitronRoot {
    display: none;
}

/* Do not display over admin bar. */
html.admin-bar #tarteaucitronRoot #tarteaucitronAlertBig.tarteaucitronAlertBigTop {
    /* Place vertically below the Admin bar. */
    top: var(--admin-bar-height);
    /* Ensure the admin bar drop-down menu is not covered by it. */
    z-index: 990;
}
